<nav class="brands bg-theme d-none d-md-block mb-md-15">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link h5 text-light font-weight-normal px-0 mr-8" href="#">CHANEL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5 text-light font-weight-normal px-0 mr-8" href="#">Jo Malone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5 text-light font-weight-normal px-0 mr-8" href="#">Curology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5 text-light font-weight-normal px-0 mr-8" href="#">Dior</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5 text-light font-weight-normal px-0 mr-8" href="#">Chloe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5 text-light font-weight-normal px-0 mr-8" href="#">ZARA</a>
      </li>
    </ul>
  </div>
</nav>

