<footer class="bg-theme">
  <div class="container">
    <div class="d-flex justify-content-md-between align-items-center">
      <ul class="footer-logo d-flex align-items-center">
        <li><a class="footer-brand" href="./index.html">D'Perfume</a></li>
        <li class="copyright ml-auto text-white">© 2020. All Rights Reserved.</li>
      </ul>
      <ul class="d-md-flex justify-content-end align-items-center d-none d-md-block">
        <li class="footer-hover"><a class="footer-link h5 text-white font-weight-normal px-5 py-8" href="./product.html">Product</a></li>
        <li class="footer-hover"><a class="footer-link h5 text-white font-weight-normal px-5 py-8" href="#">Blog</a></li>
        <li class="footer-hover"><a class="footer-link h5 text-white font-weight-normal px-5 py-8" href="./contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>
<div class="scroll-top position-fixed">
  <a href="#" class="scroll-up h2 text-white bg-topic d-flex justify-content-center align-items-center">
    <i class="fa fa-angle-up"></i>
  </a>
</div>
