<header class="navbar navbar-expand-md navbar-light bg-light py-md-3 px-md-5 p-0" id="navbarShow">
  <div class="container-fluid container-md">
    <h1 class="pl-5 pl-md-0"><a class="navbar-logo" href="./index.html">D'Perfume</a></h1>
    <a class="position-relative d-md-none ml-auto mr-3" href="#">
      <span class="material-icons pt-3 text-topic">shopping_cart</span>
      <span class="cart-badge badge position-absolute badge-pill badge-theme">3</span>
    </a>
    <button class="navbar-toggler py-3 px-5" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
       <div class="position-relative"> 
          <span class="toggler-bar toggler-bar-top"></span>
          <span class="toggler-bar toggler-bar-middle"></span>
          <span class="toggler-bar toggler-bar-bottom"></span>
       </div> 
    </button> 
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-lg-9 mr-md-5"> 
          <a class="nav-link h5 text-center px-3 py-md-3 py-5" href="./product.html">
            <span class="material-icons align-bottom d-md-inline-block d-none mr-1">store</span>Product
          </a>
        </li>
        <li class="nav-item mr-lg-9 mr-md-5">
          <a class="nav-link h5 text-center px-3 py-md-3 py-5" href="./login.html">
           <span class="material-icons align-bottom d-md-inline-block d-none mr-1">person</span>log in
          </a>
        </li>
        <li class="nav-item mr-lg-9 mr-md-5">
          <a class="nav-link h5 text-center px-3 py-md-3 py-5" href="./contact.html">
           <span class="material-icons align-bottom d-md-inline-block d-none mr-1">favorite</span>Contact
          </a>
        </li>
        <li class="nav-item d-md-block d-none">
          <a class="nav-link h5 text-center px-3 py-md-3 py-5" href="./cart.html">
           <span class="material-icons align-bottom d-md-inline-block d-none mr-1">shopping_cart</span>Cart(3)
          </a>
        </li>
        <li class="nav-item d-block d-md-none">
          <a class="nav-link h5 text-center px-3 py-md-3 py-5" href="#">
            WishList
          </a>
        </li>
        <li class="nav-item d-block d-md-none">
          <a class="nav-link h5 text-center px-3 py-md-3 py-5" href="#">
            Mypage
          </a>
        </li>

      </ul>
    </div>
  </div>
</header> 
