<section class="subscribe d-flex align-items-end pb-16">
  <div class="container">
    <div class="row">
      <form class="col-md-6 col-12 d-flex flex-column align-items-md-start align-items-center" data-aos="fade-up" data-aos-delay="300">
          <label for="inputEmail" class="h3 lh-1 text-topic font-weight-bolder mb-6">記得<br> 訂閱以獲取更多資訊！</label>
          <div class="form-group d-flex">
              <input type="email" class="form-control rounded-left py-8 px-5" id="inputEmail" placeholder="Your email address" required>
              <button type="submit" class="btn btn-theme rounded-right">Subscribe</button>
          </div>
      </form>
    </div>
  </div>
</section>
