/* 首頁 btn */
.btn-shop {
    color: #fff;
    background-color: transparent; 
    border: 2px solid #fff;
    transition: all .8s;
    &:focus, &.btn:hover {
        background-color:  rgba(255, 255, 255, 0.3);
        border-color: $gray-400;
        color: #000;
    }
}
.btn-index {
    padding: 0.89rem 1rem;
    font-size: 28px;
    border-radius: 50px;
}
.btn-plan {
    color:#000;
    background-color: transparent; 
    border: 2px solid #000;
    transition: all .8s;
    &:focus, &.btn:hover  {
        background-color:  #000;
        border-color: $gray-400;
        color: #fff;
    }
}

/* 首頁 btn 訂閱email的按鈕圓角 */
.rounded-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
.rounded-right {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}