/* layout 通用 navbar icon */
.navbar {
    &-logo {
        background: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume@2x.png?raw=true') no-repeat;
        width: 128px;
        height: 38px;
        @include hide-text;
    }
    & .cart-badge {
        top: 1px;
        right: 8px;
    }
    &-toggler {
        border: 0px solid transparent;
    }
}
.navbar .position-relative {
    width: 40px;
    height: 40px;
}
.nav-item {
    background:  $hgray;
} 

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    border-bottom: 1px solid #fff;
}
@include pad {
    .nav-item {
        background:  #f8f9fa;
    } 
     .navbar-light .navbar-nav .nav-link {
        color:$hgray;
        border-bottom: none;
     } 
    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
        color: $theme;
    }
 }


/* layout 通用 navbar icon */
button:focus {
    outline: 0px;
}
.toggler-bar {
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #8D8D8D;
    border-radius: 10px;
    transition: .2s;
}
.toggler-bar-top {
    top: 5px;
}
.toggler-bar-middle {
    top: 16px;
}
.toggler-bar-bottom {
    top: 27px;
}
.toggler-bar-top-rotate {
    top: 15px;
    transform: rotate(45deg);
}
.toggler-bar-bottom-rotate {
    top: 15px;
    transform: rotate(-45deg);
}
