.contact-link:after {
    @include nav-hover;
    bottom: -2px;
}
.contact-link {
    position: relative;
}
.contact-link:hover:after {
    width: 60%;
}
.contact-link:nth-child(1):after {
    width: 60%;
}
.contact-link:nth-child(3):hover:after {
    width: 40%;
}
.border-bottom {
    border-bottom: 2px solid $topic !important;
}

/*--------------- table -----------------*/
.contact-table th {
    width: 50%;
}
.contact-table td {
    width: 50%;
}
@include smobile {
    .contact-table th {
        width: 40%;
    }
}
@include mobile {
    .contact-table th {
        width: 28%;
    }
}
@include pad {
    .contact-table th {
        width: 50%;
    }
}