.brands .nav-item {
    background: transparent;
}

/*------------------------------------*/
.subscribe {
    @include banner("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true", 600px);
    background-position: left center;
    & .btn {
        padding: 16px 23px;
    }
    & .form-control {
        border-radius: 0rem;
        border: 2px solid $theme;
        border-right: none;
    }
    & .btn {
        border-radius: 0rem;
    }
}
@include smobile {
    .subscribe p {
        font-size: 32px;
    }
}

/*------------------------------------*/
.copyright {
    font-size: 12px;
    padding: 30px 0;
}
.footer-brand {
    background: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfumewhite@2x.png?raw=true') no-repeat;
    width: 128px;
    height: 38px;
    @include hide-text;
}
.footer-logo {
    width: 100%;
}

.footer-link {
    position: relative;
}
.footer-link::after {
    @include nav-hover;
    background: #fff;
    bottom: 17px;
    left: 0%;
} 
.footer-hover:hover .footer-link::after {
    width: 100%;
}
@include smobile {
    .copyright {
        font-size: 14px;
    }
}
@include pad {
    .footer-logo {
        width: 48%;
    }
}
@include desktop {
    .footer-logo {
        width: 35%;
    }
}
@media (min-width:1200px){
    .footer-logo {
        width: 29%;
    }
}
/*------------------------------------*/

.scroll-top {
    z-index: 999;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}
.scroll-up {
    padding: 10px;
    box-shadow: 0px 2px 16px -5px rgba(255, 255, 255, 0.51);
    border-radius: 50%;
}
