.login-banner {
    background: url('../images/login.jpg') no-repeat;
    height: 220px;
    background-position: center center;
    background-size: cover;
}
@include pad {
    .login-banner {
        height: 730px;
    }
}
